<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>

</head>
<body>
      
    <div class="card">
            <p>Click below to open the checkout page in current tab</p>
            <button id="renderBtn">Buy Premium Membership</button>
        </div>
    <form action="/expanse" method="post" id="expanse-form">
        <label for="expanseAmount">Choose Expanse Amount</label>
        <input type="number" name="" id="expanseAmount">
        <label for="description">Choose description</label>
        <input type="text" name="" id="description">
        <label for="category">Choose a Category</label>
        <select id="category">
            <option value="Fuel">Fuel</option>
            <option value="Electricity">Electricity</option>
            <option value="Food">Food</option>
            <option value="Movie">Movie</option>
        </select>
        <button type="submit" id="addExpanses">Add Expanses</button>
    </form>
    <div id="expanse-list">

    </div>
    <script >
      const cashfree = Cashfree({
        mode: "sandbox",
      });

    document.getElementById("renderBtn").addEventListener("click", async () => {
      try {
        
        // Fetch payment session ID from backend
        const response = await fetch("http://localhost:5050/pay", {
          method: "POST",
        });

        const data = await response.json();
        console.log("data",data)
        const paymentSessionId = data.paymentSessionId;
        const orderId = data.orderId;

        // Initialize checkout options
        let checkoutOptions = {
            paymentSessionId: paymentSessionId,
          
          //? Modal payment options
            redirectTarget: "_modal",
        };

        // Start the checkout process
        const result = await cashfree.checkout(checkoutOptions);

        if(result.error){
            // This will be true whenever user clicks on close icon inside the modal or any error happens during the payment
            console.log("User has closed the popup or there is some payment error, Check for Payment Status");
            console.log(result.error);
        }
        if(result.redirect){
            // This will be true when the payment redirection page couldn't be opened in the same window
            // This is an exceptional case only when the page is opened inside an inAppBrowser
            // In this case the customer will be redirected to return url once payment is completed
            console.log("Payment will be redirected");
        }
        if(result.paymentDetails){
            // This will be called whenever the payment is completed irrespective of transaction status
            console.log("Payment has been completed, Check for Payment Status");
            console.log(result.paymentDetails.paymentMessage);
            
            const response = await fetch(`http://localhost:5050/payment-status/${orderId}`, {
              method: "GET",
            });
            const data = await response.json();
            alert("Your payment is " + data.orderStatus)
        }


      } catch (err) {
        console.log("Error:", err);
      }
    });
    </script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
<script src="expanse.js"></script>
<!-- <script src="../public/cashFreeService_Modal.js"></script> -->
</html>