<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="post" id="reset-password-form">
        <label for="email">Enter Your Email</label>
        <input type="email" name="" id="userEmail">
        <button type="submit">Send Mail</button>
    </form>

</body>
<script src="/forgot-password.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</html>