<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" id="login" method="post">
        <label for="email">Enter Your Email</label>
        <input type="email" name="" id="loginEmail">
        <label for="password">Enter Your Password</label>
        <input type="password" name="" id="loginPassword">
        <button type="submit" id="login">Login</button>
    </form>
    <button><a href="signup.html">New User - SignUp Now</a></button>
</body>
</html>