<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Enter The User Name and password for Login</h4>
    <form  id="login" method="post">
        <label for="email">Enter Your Email</label>
        <input type="email" name="" id="loginEmail">
        <label for="password">Enter Your Password</label>
        <input type="password" name="" id="loginPassword">
        <button type="submit" id="loginBtn">Login</button>
    </form>
    <button type="submit" id="forgot-password-btn">Forgot Password</button>
    <button><a href="/signup" id="signupPage">New User - SignUp Now</a></button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
<script src="login.js"></script>
</html>